@media (max-width: 768px) {
  .star {
    transform: scale(1.1);
  }

  .star-left, .star-right {
    width: 65px;
  }

  .star-left {
    bottom: 8rem;
    left: 1.5rem;
  }

  .star-right {
    top: 2rem;
    right: 2rem;
  }
}

@media (max-width: 768px) {
  .media-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .media-grid {
    grid-template-columns: 1fr;
  }

  .media-grid .vertical,
  .media-grid .horizontal {
    width: 100%;
    max-width: 90vw;
  }
}
@media (max-width: 480px) {
  .media-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
