:root {
  --purple-blast: #4736C1;
  --deep-gray: #404041;
  --black-magic: #000000;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--white);
  color: var(--deep-gray);
  line-height: 1.6;
}

header {
  background: var(--white);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

header .logo img {
  height: 50px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: var(--deep-gray);
  font-weight: 600;
}

.menu .cta {
  background: var(--purple-blast);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.hero {
  position: relative;
  background: #4736c1; /* tu purple-blast */
  min-height: 70vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
}

.hero .hero-logo {
  max-width: 320px;
  margin-bottom: 1rem;
}

.hero h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.hero p {
  color: white;
  margin-bottom: 1.5rem;
}

.hero-btn {
  background: #000;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.paint-layers {
  position: absolute;
  bottom: 0;
  left: 15;
  width: 100%;
}

.layer {
  width: 100%;
  height: 80px;
  transform: skewY(-1deg);
}

.layer1 { background: #39344c; height: 95px; }
.layer2 { background: #1f1537; height: 70px; }


.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(11%);
}

/* Estrellas */
.star {
  position: absolute;
  width: 80px;
}
.star-left {
  top: 20%;
  left: 5%;
}
.star-right {
  top: 15%;
  right: 5%;
}

.services-section {
  padding: 4rem 2rem;
  text-align: center;
}

footer {
  background: var(--deep-gray);
  color: var(--white);
  text-align: center;
  padding: 1.5rem;
}
